{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["lodash"],
  "extends": ["@pancakeswap/eslint-config-pancake", "plugin:react/jsx-runtime", "plugin:@next/next/recommended"],
  "rules": {
    "import/no-unresolved": "off",
    "no-console": ["warn", { "allow": ["info", "warn", "error", "debug"] }],
    "no-plusplus": "off",
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-underscore-dangle": "off",
    "react/no-unescaped-entities": "off",
    "lodash/import-scope": [2, "method"],
    "@next/next/no-img-element": "off",
    "no-sparse-arrays": "off",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useFastRefreshEffect|useSlowRefreshEffect)"
      }
    ],
    // Temporäre Regeln
    "@typescript-eslint/ban-ts-comment": [1, { "ts-ignore": false, "ts-nocheck": false }],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "radix": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/media-has-caption": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state", "memo"] }],
    "react/require-default-props": "off",
    "no-nested-ternary": "off",
    "max-classes-per-file": "off",

    // Hier kannst du z.B. die Regel "dot-notation" deaktivieren:
    "dot-notation": "off"
  }
}
